body {
  background-color: black;
  text-align: center;
  font-family: Verdana, sans-serif;
  color: white;
}

.footer {
  text-align: right;
}

p {
  color: gray;
  font-size: 21px;
}

#excursion_download {
  color: aquamarine;
  font-size: 16px;
}

#top_header {
  font-size: 50px;
  font-weight: normal;
}

.main_header {
  font-size: 42px;
  font-weight: 300;
}
